        <ul>
            <li><a href="https://github.com/rashidmoreau">GitHub</a></li>
            <li><a href="https://rashidmoreau.github.io/itis3135">GitHub.io for ITIS3135</a></li>
            <li><a href="https://www.freecodecamp.org/rashidmoreau">FreeCodeCamp</a></li>
            <li><a href="https://www.codecademy.com/profiles/rashidmoreau">Codecademy</a></li>
            <li><a href="https://www.linkedin.com/in/rashid-moreau">LinkedIn</a></li>
        </ul>
        <p>Designed by Moreau Designs &copy; 2025, <em><a href="https://www.freecodecamp.org/certification/rashidmoreau/responsive-web-design" target="_blank">Certified in Responsive Web Design</a></em></p>