<ul>
    <li><a href="https://github.com/rashidmoreau" target="_blank" rel="noopener noreferrer">GitHub</a></li>
    <li><a href="https://rashidmoreau.github.io/itis3135" target="_blank" rel="noopener noreferrer">GitHub.io for ITIS3135</a></li>
    <li><a href="https://www.freecodecamp.org/rashidmoreau" target="_blank" rel="noopener noreferrer">FreeCodeCamp</a></li>
    <li><a href="https://www.codecademy.com/profiles/rashidmoreau" target="_blank" rel="noopener noreferrer">Codecademy</a></li>
    <li><a href="https://www.linkedin.com/in/rashid-moreau" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
</ul>
<p>Designed by Moreau Designs &copy; 2025, 
    <em><a href="https://www.freecodecamp.org/certification/rashidmoreau/responsive-web-design" target="_blank" rel="noopener noreferrer">Certified in Responsive Web Design</a></em>, 
    <em><a href="https://www.freecodecamp.org/certification/rashidmoreau/javascript-algorith9ms-and-data-structures-v8" target="_blank" rel="noopener noreferrer">Certified in JS Algorithms and Data Structures</a></em>
</p>
