<h1>Rashid Moreau’s Raging Mammoth | ITIS3135</h1>
<nav>
    <ul>
        <li><a href="/index.html">Personal Home</a></li>
        <li><a href="introduction.html" >Introduction</a></li>
        <li><a href="contract.html" >Contract</a></li>
        <li><a href="website_evaluation.html">Website Evaluation</a></li>
        <li><a href="tables.html">Tables</a></li>
        <li><a href="forms.html">Forms</a></li>
        <li><a href="byo_intro.html">BYO Intro</a></li>
        <li><a href="slideshow.html">Slideshow</a></li>
        <li><a href="betaupsilon/index.html">Client Project</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a href="/ragingmammoth/index.html" target="_blank" rel="noopener noreferrer">Raging Mammoth</a></li>
        <li><a href="moreau-designs.com/index.html" target="_blank" rel="noopener noreferrer">Moreau Designs</a></li>
        <li><a href="stuff/CRappY webPage.htm" target="_blank" rel="noopener noreferrer">CRAPPY Webpage</a></li>
        <li><a href="hobby/index.html" target="_blank" rel="noopener noreferrer">Hobby</a></li>
    </ul>
</nav>
